body {
   font-family: 'Roboto', sans-serif;
   padding: 0;
   margin:0;
   min-height: 100vh;
   background: #2A8B7F;
  display: flex;
  justify-content: center;
  align-items: center;
}
::-webkit-scrollbar,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track{
  width:0;
  height: 0;
  color: transparent;
  background: transparent;
}
*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
}
:root{
  --theme-1 : #48b198;
  --theme-2 : #e7e42f;
  --theme-3 : #34554d;
  --white : #fff;
  --black : #000;
  --active : rgb(47, 121, 96);
}
img{
  display: none;
  height: 100%;
  width: 100%;
  border-radius: .2rem;
  object-fit: cover;
  object-position: center;
}
img.show{
  display: block;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--theme-1);
  padding: 1.5rem 2.4rem;
  border-radius: .6rem;
}
.container header{
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--black);
}
.first-page.home.show,
.second-page.start-up.show,
.last-page.play-ground.show {
  display: flex;
}

.loader-container{
  position: absolute;
  inset:0;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 1rem; 
  background: #2A8B7F;
  z-index: 25;
}
.loader-container.show{
  display: flex;
}
.loader-container .stick{
  height: 60px;
  width: 10px;
  background: var(--theme-2);
  border-radius: .2rem;
  animation: stretch 1s linear infinite alternate;
  animation-delay: .1s; 
}
.loader-container .stick:nth-child(2){
  animation-delay: .3s; 
}
.loader-container .stick:nth-child(3) {
  animation-delay: .5s;
}.loader-container .stick:nth-child(4) {
  animation-delay: .7s;
}
@keyframes stretch{
  0%,100%{
    transform: translateY(-50%);
  }
  50%{
    transform: translateY(50%);
  }
}







.first-page.home{
  display: none;
}
.first-page.home main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 3rem;
}
.first-page.home main .icons-container{
  font-size: 8rem;
  font-weight: bold;
  color: var(--theme-2);
}
.first-page.home main .buttons-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
  width: 100%;
}

.first-page.home main .buttons-container button{
  padding: .7rem;
  width: 100%;
  border: 2px solid var(--theme-2);
  background-color: transparent;
  border-radius: .3rem;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
}
.first-page.home main .buttons-container button#new-game{
  background-color: var(--theme-2);
  color: var(--black);
}
.first-page.home main .buttons-container button#new-game:hover{
  background-color: #fffb00;
}
.first-page.home main .buttons-container button#scores{
  position: relative;
  z-index: 1;
}
.first-page.home main .buttons-container button#scores::after{
  content: "";
  background-color: #fffb00;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: -1;
  top: 100%;
  transition: all 300ms ease-in-out;
}
.first-page.home main .buttons-container button#scores:hover::after{
  top: 0%;
}








.second-page.start-up{
  gap: 2rem;
  width: 350px;
  display: none;
}
.second-page.start-up form,
.second-page.start-up .button-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
  width: 100%;
}
.second-page.start-up .players-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
}
.second-page.start-up .players-container .player{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.second-page.start-up .players-container .player .image-container{
  width: 50px;
  height: 50px;
  position: relative;
}
.second-page.start-up .players-container .player .image-container img{
  position: absolute;
  inset:0;
  pointer-events: none;
}
.second-page.start-up .players-container .player .image-container .image-input{
  display: none;
}
.second-page.start-up .players-container .player .image-container .image-icon{
  pointer-events: none;
}

.second-page.start-up .players-container .player .image-container label{
  cursor: pointer;
  color: var(--theme-2);
  font-size: 2.6rem;
}
.second-page.start-up .player input.name-input{
  padding: .5rem .7rem;
  font-weight: bold;
  border-radius: .3rem;
  border: none;
}
.second-page.start-up .player input.name-input:hover,
.second-page.start-up .player input.name-input:focus{
  outline: none;
  box-shadow: 5px 5px 10px rgba(57, 202, 117, 0.5),
              -5px -5px 10px rgba(43, 207, 111, 0.5);
}
.second-page.start-up .button-container #start-game{
  padding: .7rem;
  background-color: var(--theme-2);
  border: 2px solid var(--theme-2);
  border-radius: .3rem;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
}
.second-page.start-up .button-container #start-game:hover{
  background-color: #fffb00;
}















.last-page.play-ground{
  display: none;
  position: relative;
  justify-content:start;
  padding: 1rem;
  width: 320px;
  background-color: var(--theme-1);
}
  
.last-page.play-ground .whole-game-container{
  display: none;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  padding: 2rem 0;
  gap: 2rem;
  border-top: 2px solid var(--theme-3);
  width: 100%;
}
.last-page.play-ground .whole-game-container.show{
  display: flex;
}

.last-page.play-ground .whole-game-container .players-display-container{
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
  gap: 3.8rem;
}
.last-page.play-ground .players-display-container .player-display{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
  padding: .2rem;
  background-color: #9C9898;
  border-radius: .3rem;
  width:100%;
}
.last-page.play-ground .players-display-container.player-2 .player-display{
  flex-direction: row-reverse;
  justify-content: end;
}

.last-page.play-ground .players-display-container .player-display.active{
  background-color: #5D5858;
}

 .last-page.play-ground .players-display-container .player-display .image-container .player-images{
  width: 50px;
  height: 50px;
} 

.last-page.play-ground .players-display-container .player-display .player-names{
  padding: .1rem;
  text-transform: capitalize;
  color: white;
  width: 100%;
  overflow: scroll;
}
.last-page.play-ground .players-display-container.player-2 .player-display .player-names{
  text-align: end;
}

.last-page.play-ground .whole-game-container .player-turn-display-container{
  text-align: center;
  width: 100%;
}
.last-page.play-ground .whole-game-container #player-turn-display{
  padding: .2rem .4rem;
  background-color: #e2e074;
  border-radius: .2rem;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 1.5px;
}


.last-page.play-ground .whole-game-container .board-container{
  display: grid;
  column-gap: .7rem;
  row-gap: .7rem;
  grid-template-columns: repeat(3,1fr);
  place-items: center;
  width: 100%;
  height: 277px;
  margin:0;
}
.last-page.play-ground .whole-game-container .board-container .tile{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height:85px;
  background-color:rgb(63, 155, 124);
  border-radius: .3rem;
  font-size: 1.6rem;
  color: var(--white);
  box-shadow:  3px 3px 10px rgba(75, 155, 128, 0.5),
              -3px -3px 10px rgba(90, 207, 168, 0.5);
  cursor: pointer;
}
.last-page.play-ground .whole-game-container .board-container .tile.active,
.last-page.play-ground .whole-game-container .board-container .tile:hover{
  background-color: var(--active);
}

.last-page.play-ground #nav-btn{
  position: absolute;
  top: 1rem;
  left: .5rem;
  padding: .4rem;
  border-radius: .2rem;
  background-color: var(--theme-1);
  cursor: pointer;
}
.last-page.play-ground .nav-bar{
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: .3rem;
  padding: .5rem;
  width: 60%;
  text-align: end;
  background-color: var(--theme-1);
  opacity: 0;
  z-index: 22;
  pointer-events: none;
  transition: all 200ms ease;
}
.last-page.play-ground .nav-bar.show{
  pointer-events: visible;
  opacity: 1;
}
.last-page.play-ground .nav-bar #back-nav-btn{
  display: inline-block;
  padding: .3rem .4rem;
  border-radius: .2rem;
  margin-bottom: 2rem;
  cursor: pointer;
}
.last-page.play-ground .nav-bar #back-nav-btn:hover{
  background-color: var(--theme-3);
  color: white;
}
.last-page.play-ground .nav-bar ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: .7rem;
}
.last-page.play-ground .nav-bar i{
  pointer-events: none;
}
.last-page.play-ground .nav-bar ul li{
  background-color:#5d7a68;
  color: var(--white);
  padding: .5rem .7rem;
  border-radius: .3rem;
  text-align: left;
  cursor: pointer;
}
.last-page.play-ground .nav-bar ul li:hover{
  background-color: var(--active);
}


.last-page.play-ground .match-indicator-container{
  position: relative;
  border-top: 2px solid var(--theme-3);
  height: 517px;
  width:100%;
  padding:.5rem;
  display: none;
  flex-direction: column;
  align-items: center ;
  justify-content: start;
  gap: 2rem;
  overflow: scroll;
}
.last-page.play-ground .match-indicator-container.show{
  display: flex;
}
.last-page.play-ground .match-indicator-container::before,
.last-page.play-ground .match-indicator-container::after{
  content: '';
  position: absolute;
  bottom:0;
  left:0;
  height: 10px;
  width: 100%;
  background: var(--theme-3);
  opacity: 0.5;
  border-radius: 0 .3rem .3rem 0;
}
.last-page.play-ground .match-indicator-container::after{
  width: 0%;
  opacity: 1;
  background: var(--theme-2);
  animation: shrink 5s linear 1;
}
@keyframes shrink{
  from{ 
    width: 100%;
  }to{
    width:0%;
  }
}
.last-page.play-ground .match-indicator-container #match-indicator-header{
  background: #ECECEC;
  padding: .2rem .5rem;
  border-radius: .3rem;
}
.last-page.play-ground .match-indicator-container .match-player-img-container{
  width: 50%;
}
.last-page.play-ground .match-indicator-container #match-player-name{
  background: var(--theme-2);
  padding: .5rem .7rem;
  border-radius: .2rem;
  font-weight: bold;
}
.last-page.play-ground .match-indicator-container #match-para{
  font-size: 1rem;
  opacity: 0.8;
  line-height: 30px;
  color: var(--white);
  text-align: justify;
}



@media (max-width:384px){
  .second-page.start-up{
    width: 90%;
    padding: 1.5rem;
  }
  .last-page.play-ground{
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
  .last-page.play-ground .whole-game-container,
  .last-page.play-ground .match-indicator-container{
    width: 100%;
    height: 85%;
  }
  .last-page.play-ground .match-indicator-container{
    padding: 3rem 0;
  }
  .last-page.play-ground .whole-game-container .board-container .tile{
    width: 90px;
    height: 90px;
  }
}
